<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>wed-portfolio</title>
</head>
<body>
  <h1>
      {{title}}
  </h1>
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-item" routerLink="/"class="btn btn-outline">Home</a>
          <a class="navbar-item" routerLink="/about-me"class="btn btn-outline">About Me</a>
          <a class="navbar-item" routerLink="/resume"class="btn btn-outline">Resume</a>
          <a class="navbar-item" routerLink="/accomplishments"class="btn btn-outline">Accomplishments</a>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
 <router-outlet></router-outlet>