<!DOCTYPE html>
<html lang="en">
<head>
<title>software Developer</title>
</head>
<!--  Video button on top of the image -->
<body style="background-color: black">
 <h1 class="badge-pill" style="background-image: url(../assets/images/space.png);">{{title}}</h1>
  <div class="row">
    <nav class="navbar">
        <div class="navbar-header" class="align-content-center" style="background-image: url(../assets/images/space.png);">
          <a class="navbar-item" routerLink="/"class="btn btn-outline-light">Home</a>
          <a class="navbar-item" routerLink="/about-me"class="btn btn-outline-light">About Me</a>
          <a class="navbar-item" routerLink="/resume"class="btn btn-outline-light">Resume</a>
          <a class="navbar-item" routerLink="/accomplishments"class="btn btn-outline-light">Accomplishments</a>
        </div>
    </nav>
  </div>
<router-outlet></router-outlet>
</body>
</html>
