<!DOCTYPE html>
<html lang=en>
<head>
</head>
<div class="container">
    <div class="jumbotron">
        <h4>ADAM BLAIRE</h4>
      <p> Long beach, CA ■ adam.blaire@gmail.com</p>
      <p>Team player with 12 years work experience with over 4 years experience in management role. Passionate
        about software development and looking to apply knowledge and skills toward a software development
        position.</p>
    </div>
    <div class="jumbotron">
     <h4>CORE COMPETENCIES</h4>
     <ul class="row justify-content-start">
     <li class="col-5">Strong communication and leadership skills</li>
        <li class="col-5">Even-tempered personality</li>
        <li class="col-5">oriented</li>
        <li class="col-5">Self-starter</li>
        <li class="col-5">Trustworthy</li>
        <li class="col-5">Time effective</li>
    </ul>
    </div>
    <div class="jumbotron">
        <h4>TECHNICAL SKILLS</h4>
        <ul  class="row justify-content-start">
            <li class="col-5">Experience using Wordpad and Microsoft Word</li>
            <li class="col-5">Experience and training in POS systems</li>
            <li class="col-5">Experience and training in KIN systems</li>
        </ul>
        <u>Languages/Frameworks:</u>
        <p>Bootstrap, CSS, HTML, JQuery, JavaScript (JS), TypeScript (TS), AngularJS, Node, Csharp C#, Mongodb, python</p>
        <u>Technologies:</u>
        <p>VisualStudio2019, NPM, PuTTy</p>
        <u>Other skills:</u>
        <p>Agile Methodologies, SCRUM, Unit Testing</p>
        <u>Projects Summary:</u>
        <p>GITHUB: https://github.com/AdamBlaire1</p>
        <p>Group Project: https://github.com/Woz-U-Group-Projects/team-puma Working with angular a simple shopping web page.</p>
        <p>Personal Project:
            Built a personal portfolio website by creating my own code for both the front end and back end to showcase my
            skills
            Technologies: HTML and CSS and JavaScript, TypeScript, Angular Hosted:
            Adamblaire.com</p>
    </div>
    <div class="jumbotron">
        <h4>EDUCATION, CERTIFICATIONS, & AWARDS</h4>
        <li>Google IT Automation Professional Certificate with python 2020 </li>
        <li>Woz U: Full-Stack Software Development Program Certificate 2019-2020</li>
        <li>Classes towards A.S Degree at Pasadena City College and San Bernardino City College</li>
        <li>Forklift Certification</li>
        <li>Star of the Month, Kmart</li>
        <li>Selected for STAR program, Kmart</li>
        <li>Cashier of the Month, Walmart</li>
        <li>Most Money Made for a Charity, Walmart</li>
    </div>
    <div class="jumbotron">
        <h4>EXPERIENCE</h4>
        <h5>April 2016 to August 2018 - Kmart: Bishop, CA Hardline Floor Supervisor</h5>
        <li>Opened the store by turning off alarms and scheduling associates to their assigned areas, checking that
            associates were on task and assigning projects or freight for the day, analyzing departments for
            negative sales, reading the store email for communication from the general manager and other
            corporate executives</li>
        <li>Managed a staff of 20 which included department leads, cashiers, sales associates, and freight crew</li>
        <li>Interviewed multiple applicants with the HR manager</li>
        <li>Checked in merchandise and took the lead in getting the corporate and vendor trucks unloaded</li>
        <li>Verified and counted money from the cash office</li>
        <li>Reviewed and wrote out sales reports from previous days for departments with negative sales, and
            sent reports to corporate headquarters</li>
        <li>Responsible for maintaining store cash registers, POS system, and fixing hand-held RMUs</li>
        <li>Ordered merchandise from corporate and vendors with some orders totaling up to $50,000</li>
        <li>Closed the store including the service desk, bagging up money and placing it in the safe, printing out
            and filing daily reports, inspecting areas to make sure they were straightened and cleaned, and
            securing the store for the evening -- all within the boundaries of work schedule time constraints</li>
        <li>Issued California fishing and hunting licenses</li>
        <li>Handled Lottery and Western Union sales</li>
        <br>
        <h5>November 2015 to February 2016 - Shell Gas Station: Bishop, CA</h5>
        <li>Opened and closed the station</li>
        <li>Completed paperwork for sales, including the Lottery</li>
        <li>Managed tobacco, food, and liquor inventories</li>
        <li>Maintained the facility in good, clean condition</li>
        <br>
        <h5>May 2015 to November 2015 - Kmart: Bishop, CA Sales Associate in Garden Department</h5>
        <li>Shelved merchandise for seasonal layouts according to corporate directives</li>
        <li>Checked in merchandise from vendors</li>
        <li>Removed and changed shelving and aisle configurations for the store manager</li>
        <br>
        <h5>February 2013 to December 2013 - Nike: Cabazon, CA Cashier/Sales Associate</h5>
        <li>Managed registers and equipment</li>
        <li>Stocked merchandise on sales floor</li>
        <li>Kept current on Nike product technology</li>
        <br>
        <h5>March 2011 to January 2013 - Walmart: Beaumont, CA Front-end Manager</h5>
        <li>Supervised a staff of 120 people including cashiers, sales associates, customer service associates, and electronics department associates</li>
        <li>Managed the Customer Service desk and handled all customer service issues</li>
        <li>Placed all online orders from customers for in-store pick-up</li>
        <li>Handled employee error write-ups and any necessary disciplinary actions</li>
        <li>Assigned daily schedules to 35 cashiers</li>
        <li>Sold Moneygrams and Money Orders, and handled incoming and outgoing money transfers up to $9000</li>
        <br>
        <h5>June 2006 to March 2011 - Habitat Design: San Gabriel, CA Production, Sales, and Customer Support</h5>
        <li>Responsible for design, fabrication, and marketing of reptile enclosures</li>
        <li>Raised and sold reptiles, and attended reptile shows</li>
    </div>
    <div class="jumbotron">
        <h4>REFERENCES</h4>
        <li>Jarod Sitka: Kmart Store Manager, Bishop, CA 808-482-0967</li>
        <li>Buffem Richardson, Kmart Assistant Store Manager, Bishop, CA 661-623-3053</li>
        <li>Oscar, previous Kmart Store Manager, Bishop, CA 818-723-4956</li>
    </div>
</div>
</html>