<div class="jumbotron bg-size-cover bg-position-center bg-no-repeat text-center py-7 mb-0"
    style="background-image: url(../assets/images/my-vid.png);" >
    <a class="cs-video-btn" style="background-image: url(../assets/images/pic_of_me.png);"
        href="../assets/videos/adamblaire1_website.mp4"
        data-sub-html='<h6 class="font-size-sm text-light">Video caption</h6>'></a>
    <br>
    <span class="font-size-sm text-light"><h1 class="text-light">Click me to watch video!</h1></span>
</div>
<div class="container">
  <div class="jumbotron">
  <img src="../assets/images/pic_of_me.png" class="img-responsive" alt="Cinque Terre" width="100" height="236">
    <h1 class="text-dark">Welcome to my webpage</h1>
    <p>I am a Trainee Software Developer with skills in both front- end and back-end applications. My journey in my professional life started out with me in college for digital art. I took many Art classes that made me great at drawing, but I never fault happy about just drawing. I thought will I always loved rocks, so I change majors to geology took some classes and fall in love with the software that geologist use. Also, at these times I was always working retail. There is so much I learn from databases from working retail and there was always stuff I wish I could change with them. The Joy I got from learning SQL and NoSQL from Woz u and seeing how they work was awesome I hope someday to design a user-friendly POS system for a company.</p>
  </div>
</div>