<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="text-dark"> A video of the web site getting built.</h1>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" type="video/mp4">
        <source class="embed-responsive-item" src="https://github.com/AdamBlaire1/portfolio_web_page/blob/master/web-portfolio/src/assets/videos/adamblaire1_website.mp4?raw=true">
      </video>
    </div>
    <br>
  <img src="./assets/images/pic_of_me.png" class="img-responsive" alt="Cinque Terre" width="100" height="236">
    <h1 class="text-dark">Welcome To My Web Site!</h1>
    <p>I am a Trainee Software Developer with skills in both front- end and back-end applications. My journey in my professional life started out with me in college for digital art. I took many Art classes that made me great at drawing, but I never felt happy about just drawing. I thought will I always loved rocks, so I change majors to geology took some classes and fall in love with the software that geologist use to make charts. Also, at this times I was always working retail. There is so much I learn from databases from working retail and there was always stuff I wish I could change with them. The joy I got from learning SQL and NoSQL from Woz u and seeing how they work was awesome I hope someday to design a user-friendly POS system for a company.</p>
  </div>
</div>